<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="form">
    <form th:action="@{/login}" method="post">
        <h1>Авторизация</h1>
        <div class="input-form">
            <input type="text" name="username" placeholder="Введите E-mail">
        </div>
        <div class="input-form">
            <input type="password" name="password" placeholder="Введите пароль">
        </div>
        <div class="input-form">
            <input type="submit" value="Войти">
        </div>
        <a href="#" class="forget">Забыли пароль?</a>
    </form>
</div>

</body>
</html>
